proscope/__pycache__/
test/causal*
test/test_causal_db
causal_pairs
test/__pycache__
data/causal_edges_db.tar.gz
data/causal_ep300_db.tar.gz
data/causal_top_pair_per_celltype_df_non_redundant_pair_with_count.csv
proscope/9606.pLDDT.pickle
build
proscope.egg-info
*ALL_hum_isoforms_ESM1b_LLR/*.csv
*.fasta
data/content*
pairwise_interaction
*pdb
test/all_gene_values.npy
test/all_gene_dfs.feather
test/AlphaMissense_aa_substitutions.tsv.gz
test/AlphaMissense_aa_substitutions.feather
